
*.mp4
Books/master_machine_learning_algo_from_scratch.pdf
Books/A Programmer’s Guide to Data Mining.pdf
sample resume_/-Oct19.csv
sample resume_/-Oct19.xlsx
sample resume_/4 Mayank Jain.doc
sample resume_/abhay_kumar_visualcv_resume_with_GTC.pdf
sample resume_/Abhijit-Manepatil.pdf
sample resume_/Abhinav_Abhishek_visualcv_resume (1).pdf
sample resume_/Abhishek Kumar Singh (1).doc
sample resume_/Ajay_Kumar_Chouksey_CV.pdf
sample resume_/Aniket_cv.pdf
sample resume_/CV_Achal.pdf
sample resume_/Data Scientist_Rizwan (1) (3).doc
sample resume_/Deepjyoti_Dutta.pdf
sample resume_/DS PrashantBande (2).PDF
sample resume_/Himanshu-Tyagi.pdf
sample resume_/Jalpa-Dave.pdf
sample resume_/Kishore_Ramiyengar_L_CV.pdf
sample resume_/Lavajiit_Singh_CV.pdf
sample resume_/Lebenslauf_Leo_20190105_ENG_TS_monitor.pdf
sample resume_/Leela DS (1).docx
sample resume_/Manjunath-Hegde_data-science_Jan-2019.pdf
sample resume_/Mohnish-Chaudhary.pdf
sample resume_/Naveen resume.docx
sample resume_/Nazar_R_7+ yrs_Exp.docx
sample resume_/nizam_ds.pdf
sample resume_/Pawan_DataScience_Resume (1).rtf
sample resume_/Pawan_DataScience_Resume (copy).pdf
sample resume_/Priyanka_s Resume DataScientist.pdf
sample resume_/Resume-Krish (1).doc
sample resume_/Resume_DS.docx
sample resume_/Resume_Nandana_Kudeti (1).docx
sample resume_/resume_shifana.pdf
sample resume_/sandeep.pdf
sample resume_/Shweta_Resume.pdf
sample resume_/SP.docx
sample resume_/Venkat_R_4yrs_Exp.docx
Springboard/1553800630_Finding_the_Right_Job_Titles.pdf
Springboard/1562014899_Capstone_Phase_2_Step_3__Deploy_Your_Application_to_Production.pdf
Springboard/1562014974_Capstone_Phase_2_Step_2__Run_Your_Code_End-to-End_.pdf
Springboard/1562015387_Capstone_Phase_1_Step_6__Scale_Your_Prototype_-_Google_Docs.pdf
Springboard/1562015403_Capstone_Phase_1_Step_5__ML___DL_Prototype_-_Google_Docs.pdf
Springboard/1562342645_Adding_Springboard_to_your_LinkedIn_Profile_.pdf
Springboard/1585695591_Capstone_Step_9__Study_Advanced_Units.pdf
Springboard/1585706844_Step_10__Pick_Your_Deployment_Method.pdf
Springboard/1585709935_Capstone_Step_11__Design_Your_Deployment_Solution_Architecture.pdf
Springboard/Capstone_FAQs_MEC_V3_2_.pdf
Springboard/Capstone_Project_Guidelines_-_MEC_V3.pdf
Springboard/Keeping_Up_With_The_State_Of_The_Art.pdf
Springboard/Machine_Learning_Engineering_Career_Track_Prework.pdf
Springboard/Milestones_Capstone_MEC.pdf
Springboard/Top_ML_Models.pdf
Springboard/What_Data_to_Collect_.pdf
Springboard/What_is_a_Good_ML_Project.pdf
